[Unit]
Description=Sunny Island Agent
After=network-online.target network.target rsyslog.service

[Service]
Type=simple
ExecStart=/opt/sd/bin/solard -c /opt/sd/etc/solard.conf -l /tmp/solard.log
Restart=on-failure

[Install]
WantedBy=multi-user.target
