[Unit]
Description=Sunny Island Agent
After=network-online.target network.target rsyslog.service

[Service]
Type=simple
ExecStart=/opt/sd/bin/rdevserver -c /opt/sd/etc/rdevserver.conf -l /opt/sd/log/rdevserver.log -a
Restart=on-failure

[Install]
WantedBy=multi-user.target
